.mobile {
    background-image: url(../../../public/assets/img/mobile/iPhone_Wallper_BG_v3.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 260px;
    height: 545px;
    left: 50%;
    top: 48.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .video-mobile {
    position: fixed;
    min-width: 700px;
    height: 700px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  /* Add more mobile-specific styles */