.desktop {
    text-align: center;
    position: absolute;
    min-width: 1920px;
    /* height: 655px; */
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
  }
  
  .video-desktop {
    position: fixed;
    width: 100%;
    /* height: 1500px; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .bootup-video {
    position: absolute;
    width: 700px;
    left: 50%;
    transform: translate(-50%, -45%);
  }

  /* login info */
  .login-wrapper {
    position: absolute;
    top: 220px;
    right: 475px;
  }

  .login-picture-wrapper {
    position: relative; /* Allows the image inside to be positioned relative to the wrapper */
    width: 140px;
    height: 140px;
    background-image: url('/src/img/desktop/login_screen/Border_Gradient.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

  /* Inside image */
  .login-picture {
    width: 115px;
    height: 117px;
    border-radius: 4px;
    display: block;
    position: relative;
    right: 1px;
  }

  #login-username {
    position: relative;
    bottom: -5px;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .login-input-wrapper {

  }

  #input-login-field {
    /* position: absolute; */
    width: 130px;
    margin-top: 25px;
    height: 20px;
  }

  .login-btn {
    position: absolute;
    right: -35px;
    bottom: -4px;
    cursor: pointer;
  }

  .switch-user-btn {
    position: absolute;
    left: 23px;
    bottom: -40px;
    cursor: pointer;
    width: 100px;
  }

  /* footer */
  .login-screen footer {
    position: absolute;
    bottom: 20px;
    right: 455px;
  }

  .windows7-logo {
    width: 180px;
  }

  /* >>>>> MAIN SCREEN STARTS HERE >>>>> */
  .desktop-main {
     background-image: url(/src/img/desktop/login_screen/Windows7_Login_Screen_BG.png);
     position: absolute;
     background-size: cover;
     width: 1095px;
     height: 655px;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -43%);
     z-index: 1;
  }
  /* Add more desktop-specific styles */