.desktop {
    text-align: center;
    position: absolute;
    min-width: 1920px;
    /* height: 655px; */
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px 2px #39301e;
  }
  
  .video-desktop {
    position: fixed;
    width: 100%;
    /* height: 1500px; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .bootup-video {
    position: absolute;
    width: 700px;
    left: 50%;
    transform: translate(-50%, -45%);
  }

  /* >>>>> MAIN SCREEN STARTS HERE >>>>> */
  .desktop-main {
     background-image: url(/public/assets/img/desktop/Windows7_Login_Screen_BG.png);
     position: absolute;
     width: 1095px;
     height: 655px;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -43%);
     z-index: 1;
  }
  /* media queries for desktop */
  @media only screen and (max-width: 1700px) {
    .video-desktop {
      width: 90%;
    }
    .desktop-main {
      width: 985px;
      height: 590px;
    }
  }
  /* Add more desktop-specific styles */